@keyframes slideLeftToRight{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}


.inputFrom{
    height: 100vh;
    width:57.6vw;
}
.accountForm{
    display: flex;
    height:100vh;
    .loginForm{
        margin-top:37.6vh;
        margin-left:15.2vw;
        display: flex;
        flex-direction: column;
        input{
            margin-bottom:7.4vh;
            width:27.9vw;
            height: 3.7vh;
        }
        button{
            margin-top:-0.9vh;
            margin-left:auto;
            margin-right: auto;
            width: 13.5vw;
            height: 6.1vh;
            border-radius: 3.3rem;
            border: solid 1px #707070;
            background-color: $faded-orange;
    }
    }
}

.introBlock{
    animation: 2s ease-out 0s 1 slideLeftToRight;
    height: 100vh;
    width: 42.4vw;
    background-color: $faded_orange;
    display:flex;
    flex-direction: column;
    .introLogo{
        padding-top: 5.9vh;
        font-family: Roboto;
        font-size: 3.5rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.57;
        letter-spacing: 1.68rem;
        text-align: left;
        color: #ffffff;
    }
    .introText{
        padding-left:7.3vw;
    }
    .introHeader{
        margin-top:25vh;
        width: 100%;
        font-family: Roboto;
        font-size: 5.0rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    .introSub{
        margin-top:4.1vh;
        width: 100%;
        font-family: Roboto;
        font-size: 3.5rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    .introBtn{
        margin-left:7.3vw;
        margin-top : 9.6vh;
        width: 13.5vw;
        height: 6.1vh;
        border-radius: 33px;
        border: solid 1px #ffffff;
        background-color: $faded_orange;
        color : #ffffff;
    }
}