.itemCard{
    width: 16.7vw;
    height: 24.8vh;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    background-color: #c8c7c7;
    .itemDetail{
        width: 16.7vw;
        height: 11.6vh;
        opacity: 0.5;
        box-shadow: 0 3px 6px 0 rgba(165, 39, 39, 0.16);
        background-color: $faded_orange;
        .itemHeader{
            background-color: $faded_orange;
            margin-top:9%;
            margin-left:5%;
            h2,h3{
                color: white;
            }
        }
        .itemName{
            height: 2.4vh;
            // font-family: Roboto;
            font-size: 2.4rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.21;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
        .itemPrice{
            height: 1.7rem;
            margin-top:0.5rem;
            // font-family: Roboto;
            font-size: 1.4rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }

        @media(max-width:1300px){
            .itemBtnGroup{
                visibility: hidden;
            }
        }
        .itemBtnGroup{
            // visibility: hidden;
            margin-left:1.6rem;
            margin-top: 3%;
            padding: 0;
            .itemBtn{
                padding: 0;
                object-fit: contain;
                background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                cursor:pointer;
                overflow: hidden;
                outline:none;
                // font-family: Roboto;
                font-size: 1.4rem;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.43;
                letter-spacing: normal;
                text-align: left;
                color: black; // #ffffff;
            }
        }
    }
}

.mainItemList{
    margin-top :1.3vh;
    display:flex;
}
.mainItemBlock{
    margin-top:6vh
}

.categoryName{
    // width: 28px;
    // height: 37px;
    // font-family: Roboto;
    font-size: 2.8rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.71;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.51);
}

.categoryMore{
    margin-left:0.4vw;
    // font-family: Roboto;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.51);
}

.slick-prev:before,
.slick-next:before {
    color: $faded_orange!important;
}